# On a release is triggered, the workflow will build the project and deploy it to GitHub Pages. 
# The build job will upload the dist directory as an artifact.
# The publish job will download the artifact and deploy it to GitHub Pages.
name: On Release Publish CI/CD

on:
  release:
    types: [published]

  # Allow manual trigger of the workflow
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# Cancel in-progress runs when a new run is queued.
concurrency:
  group: "ci-cd"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci-artifact
          path: |
            ./dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment: github-pages
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ci-artifact

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
